.adjuster {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-width: 12rem;
  max-width: 20rem;
  background: white;
  box-shadow: 0 0 1px var(--color-grey-dark);
  border-radius: 5px;
}

.adjuster .title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-grey-dark);
}

.adjuster button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  background: none;
  font-size: 30px;
  color: var(--color-grey-light);
  cursor: pointer;
}

.adjuster button:hover {
  box-shadow: 0 0 1px var(--color-primary);
  color: var(--color-primary);
}

.adjuster button:active {
  box-shadow: 0 0 1px var(--color-primary);
  color: var(--color-primary);
  transform: translate(-1px, 1px);
}

.adjuster .minute-value {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primary);
}

@supports (display: grid) {
  .adjuster .functions {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    justify-items: center;
  }
}
