.timer {
  border-radius: 69px;
}

.timer.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 680px;
  margin: 5rem auto 3rem auto;
  box-shadow: 0 0 15px hsl(0, 0%, 86%);
  background: hsl(0, 0%, 97%);
}

.timer .timer-paper {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 660px;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 1px hsl(0, 0%, 90%);
}

.timer-title {
  display: flex;
  flex-direction: column;
  flex: 1 0 150px;
  align-items: center;
  justify-content: flex-end;
}

.timer-body {
  display: flex;
  flex-direction: column;
  flex: 5 0 auto;
  align-items: center;
}

.timer-body .timer-text {
  margin-top: 4rem;
}

.timer-body .start-stop-button {
  margin-top: 3rem;
}
