.timer-wrapper {
  max-width: 43rem;
  margin: 0 auto;
}

.timer {
  border-radius: 69px;
}

.timer.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 680px;
  box-shadow: 0 0 15px hsl(0, 0%, 72%);
  background: hsl(0, 0%, 94%);
}

.timer .timer-paper {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 660px;
  background: hsl(0, 0%, 98%);
  box-shadow: 0 0 1px hsl(0, 0%, 75%);
}

.timer-title {
  display: flex;
  flex-direction: column;
  flex: 1 0 150px;
  align-items: center;
  justify-content: flex-end;
}

.timer-body {
  display: flex;
  flex-direction: column;
  flex: 1 0 500px;
  align-items: center;
}

.timer-body .timer-text {
  margin-top: 4rem;
}

.timer-body .start-stop-button {
  margin-top: 5rem;
}

.timer-body .buttons-tray {
  display: flex;
  justify-content: center;
  margin: 5rem 0 1rem 0;
  padding: 1rem;
  width: 100%;
}

.buttons-tray .settings-button {
  width: 245px;
}

@supports (display: grid) {
  .timer-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    .timer-wrapper {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      justify-items: center;
    }
  }

  .settings {
    display: grid;
    grid-template-rows: min-content;
    align-items: start;
    row-gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    .settings {
      justify-self: stretch;
      justify-items: center;
    }

    .settings .adjuster {
      width: 100%;
    }
  }

  .timer-wrapper .settings {
    align-self: center;
  }
}
