.main {
  background: var(--color-secondary);
}

.main.fullscreen {
  min-height: 30rem;
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .main.fullscreen {
    padding-top: 3rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

.footer a {
  color: var(--color-primary);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
}
